.filter-btn {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* This will center the element horizontally */
  }
  
  .filter-car {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4470B2;
    width: 100%;
    color: #fff;
    font-weight: lighter;
    border: none;
  }
  
  .filter-mc{
    background-color: #E37575;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    font-weight: lighter;
    border: none;
  }
  

  @media screen and (max-width: 722px) {
    .filter-btn {
      width: 100%;
    }
  }
  