.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid gray;
  background-color: #fff;
  position: sticky;
  .Footer-link {
    display: flex;
    color: #000;
  }
}

@media screen and (min-width: 722px) {
  .footer {
    display: none;
  }
}
