@import "./assets/Navbar";
@import "./assets/loginAndRegister";
@import "./assets/BackButton";
@import "./assets/MobileNav";
@import "./assets/Footer";
@import "./assets/Filter";
@import "./assets/Home";
@import "./assets/listingDetails";
@import "./assets/Checkout";
@import "./assets/bookings";
@import "./assets/Payment";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  min-height: calc(100vh - 50px); /* Adjust the height to leave space for the footer */
  position: relative;
  width: 100%;
}